<style>
    input {
        background-color: #ebf0f4;
        font-weight: bold;
        font-size: 0.7em;
        width: 113px !important;
        height: 28px !important;
        color: #000;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-weight: 600;
        margin-bottom: 10px;
    }

    input:hover input:active {
        background-color: mix(#000, #ebf0f4, 50%);
    }
</style>
<div>
    <!-- <a class="github-button" href="https://github.com/atreyaray/OP-Forecasting-Future-House-Prices" data-size="large"
        aria-label="Github Repo" style="vertical-align:bottom;">Github Repo</a> -->
    <form action="../files/bda.pdf">
        <input type="submit" value="Report" />
    </form>
</div>
<script async defer src="https://buttons.github.io/buttons.js"></script>