{% include base_path %}

<style>
    input {background-color: #ebf0f4;
    font-weight: bold;
    font-size: 0.7em;
    width: 113px !important;
    height: 28px !important;
    color: #000;
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 600;
    margin-bottom: 10px;
    }
    .btn {
        background-color: #ebf0f4;
        width: 113px !important;
        height: 28px !important;
        border: 0.1px solid #d7d9db !important;
    }
    .span_icon {
        float: left;
        color: #000;
    }
    .span_text {background-color: #ebf0f4;
    font-weight: bold;
    font-size: 1em;
    color: #000;
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 600;
    height: 0.5em;
    margin-bottom: 30px !important;
    }
    input:hover input:active{
      background-color: mix(#000, #ebf0f4, 50%);
    }
</style>
<div>
    <a class="github-button" href="https://github.com/atreyaray/OP-Forecasting-Future-House-Prices" data-size="large"
        aria-label="Github Repo" style="vertical-align:bottom;">Github Repo</a>
    <form action="../files/finnish_hm_prediction.pdf">
        <!-- <input type="submit" value="Report" /> -->
        <button class="button btn" type="submit">
            <span class="button__icon span_icon">
                <ion-icon name="book-outline"></ion-icon>
            </span>
            <span class="button__text span_text">Report</span>
        </button>
    </form>
</div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>